[submodule "packages/suPAErnova"]
	path = packages/suPAErnova
	url = git@github.com:OmegaLambda1998/suPAErnova.git
[submodule "examples/suPAErnova"]
        paths = examples/suPAErnova
        url = git@github.com:OmegaLambda1998/suPAErnova_data.git
[submodule "examples/suPAErnova_data"]
	path = examples/suPAErnova_data
	url = git@github.com:OmegaLambda1998/suPAErnova_data.git
